.oui {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.tools {
    display: grid;
    background-color: antiquewhite;
    height: fit-content;
    align-content: center;
    padding: 10px;
    border-radius: 15px;
    grid-template-columns: 1fr auto;
    gap: 10px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.titre_plante_tools {
    color: #222020;
    font-size: x-large;
    font-weight: bolder;
    grid-column: 2;
    width: fit-content;
    margin-bottom: 25px;
}

.arroser {
    grid-column: 2;
    width: fit-content;
}

field {
    display: flex;
    justify-content: center;
    align-items: center;
}

field-parts {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-image: url('../rsc/bac_culture.png');
    background-repeat: no-repeat;
    background-size: contain;
}

field-part {
    display: flex;
    width: 80px;
    height: 80px;
    border: 2px solid #7054178e;

    background: center no-repeat;
    background-size: contain;

    cursor: pointer;
    background-color: rgba(165, 88, 33, 0.281);
    background-size: 65%;
}

field-part:hover {
    background-color: #ffe4c49c;
}

field-part.active {
    border: 2px solid green;
    box-shadow: 0 0 4px green;
}

.reload_image
{
    width: 70px;
    align-self: center;
    margin-top: 50px;
    margin-left: 50%;
    transform: translateX(-50%);
}

h1 {
    text-align: center;
    color: #50b4c5;
    font-family: serif;
    font : bold;
    font-size: 150px;
    margin-top: 0%;
}

body {
    background-image: url('../rsc/background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 150%;
    height: 100%;
    justify-content: center;
    margin-left: 0%;
    width: 100%;
}

footer {
    display: flex;
    position: absolute;
    bottom: 10px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.logo_pd {
    margin-left: 50px;
}

.promotion {
    margin-right: 50px;
    font-family: 'Segoe UI';
    font-weight: bolder;
    color: #222020;
}

.createurs {
    font-family: 'Segoe UI';
    font-weight: bold;
    color: #222020;

}