.oui {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    row-gap: 0px;
    width: 100%;
}

.tools {
    display: grid;
    background-color: antiquewhite;
    height: fit-content;
    align-content: center;
    padding: 10px;
    border-radius: 15px;
    grid-template-columns: 1fr auto;
    gap: 10px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.titre_plante_tools {
    color: #222020;
    font-size: x-large;
    font-weight: bolder;
    grid-column: 2;
    width: fit-content;
    margin-bottom: 25px;
    justify-self: center;
    grid-column: 1 / -1;
}

.slider-container {
    display: flex;
}

input[type="range"] {
    width: 100%;
    align-self: center;
}

#valeur_slider, #valeur_eau {
    width: fit-content;
    align-self: flex-end;
}

.arroser {
    grid-column: 2;
    width: fit-content;
}

field {
    display: flex;
    justify-content: center;
    align-items: center;
}

field-parts {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-image: url('../rsc/bac_culture.png');
    background-size: cover;
    width: 80%;
    aspect-ratio: 1 / 1;
}

field-part {
    display: flex;
    border: 2px solid #7054178e;

    background: center no-repeat;
    background-size: contain;

    cursor: pointer;
    background-color: rgba(165, 88, 33, 0.281);
    background-size: 65%;
}

field-part:hover {
    background-color: #ffe4c49c;
}

field-part.active {
    border: 2px solid green;
    box-shadow: 0 0 4px green;
}

button {
    border-color: rgb(187, 168, 142);
    border-color: rgb(187, 166, 137);
    border-radius: 15px;
}


.plante-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 100%;
    margin-bottom: 10px;
    grid-column: 1 / 3;
}

.reload_image
{
    width: 100px;
    height: 50px;
    align-self: self-start;
    background-size: cover;
    background-position: center;

}

@keyframes spin {
    from { transform: rotate(0deg); }
    to   { transform: rotate(360deg); }
}

.reload_image.spinning > img {
    animation: spin 1s linear infinite;
}

.reload_image > img
{
    width: 45%;
}

h1 {
    text-align: center;
    color: #1d4141;
    font-family: serif;
    font : bold;
    font-size: 120px;
    font-family: 'Segoe UI';
    margin-bottom: 0px;
    margin-top: 0%;
}

body {
    background-image: url('../rsc/background.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: absolute;
    bottom: 10px;
    width: 100%;
    align-items: center;
    justify-items: center;
}

.logo_pd {
    width: 150px;
    justify-self: start;
    margin-left: 10px;
}

.promotion {
    font-family: 'Segoe UI';
    font-weight: bolder;
    color: #222020;
    justify-self: end;
    margin-right: 10px;;
}

.createurs {
    font-family: 'Segoe UI';
    font-weight: bold;
    color: #222020;
}

#date_photo {
    margin-top: 0px;
    justify-self: center;
    grid-column: 1 / -1;
}

@media (orientation: portrait) {
    .oui {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 20px;
    }
    .tools {
        width: 80%;
        height: fit-content;
    }

    field {
        width: 100%;
        justify-content: center;
    }

    body {
        background-size: cover;
        background-position: center center;
    }

    footer {
        position: relative;
        padding-top: 20px;
    }

    .reload_image{
        margin-top: 20px;
    }

    #logo {
        display: none;
    }

    h1 {
        margin: 20px;
    }
}